// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

options {
	listen-on port 53 { 127.0.0.1; {{ ansible_facts.ansible_default_ipv4.address }}; };
	listen-on-v6 port {{ bind_port }} { ::1; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	secroots-file	"/var/named/data/named.secroots";
	recursing-file	"/var/named/data/named.recursing";
	allow-query     { any; };
	recursion yes;

	dnssec-enable yes;
	dnssec-validation yes;

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";

	/* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
	include "/etc/crypto-policies/back-ends/bind.config";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
	type hint;
	file "named.ca";
};


{% for zone in bind_config_zones %}
zone "{{ zone.zone }}" IN {
	type {{ zone.type }};
	file "forward_{{ zone.file }}";
	allow-update { none; };
};

zone "{{ zone.zone.split('.') | reverse | list | join | string }}.in-addr.arpa" IN {
	type {{ zone.type }};
	file "reverse_{{ zone.file }}";
        allow-update { none; };
};
{% endfor %}


include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

